@import "~normalize.css";

@import "_variables";
@import "modules/post.scss";
@import "modules/privacy.scss";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

body {
  background: #eee;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Baloo Tamma 2', cursive;
}
